<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form ng-submit="addMessage(newMessage)">
		<input ng-model="newMessage" type="text" placeholder="Hello!">
	</form>

  <!-- onfocus="this.placeholder = ''" onblur="this.placeholder = 'Hello!'" -->

  <!--ng-blur ng-focus  -->

  <div class="messageContainer" ng-repeat="message in messages track by $index">
    <div>{{message.message}}</div>
    <div> {{message.time | date: 'h:m a'}} </div>
  </div>

  <button ng-click=""></button>

</div>
